<h1 *ngIf="dataFromChild">
  {{ dataFromChild?.name + ' ' + dataFromChild?.gender }}
</h1>
<div *ngFor = "let employee of employees"> 
    <!-- passing employee using input property to the child component -->
    <app-display-employee [employee] = "employee" (notify)="handleNotify($event)"></app-display-employee>
</div>


<!-- only for showing use of ngOnChanges and proertySetter -->
<!-- <button (click) = "nextEmployee()" class="btn btn-primary">
  View Next Employee
</button>
<br/><br/>
<app-display-employee [employee] = "employeeToDisplay" [employeeId]="employeeToDisplay.id"></app-display-employee> -->